body{
    height: 100vh;
}
.chat-page-logo-img-container{
   width: 30px;
   height: 45px;
   margin-left:10px;
   margin-left: 30px; 
   margin-right: 20px; 
}
.chat-page-logo-container{
    font-family: roboto;
    font-size: xx-large;
    font-weight: 800;
    background: linear-gradient(to right, rgb(237, 235, 235), rgb(255, 0, 0));
    border-radius: 15px;
}
.chat-app-container{
}
.chat-app-input-container-main{
  
}
.chat-app-input-container{
    justify-content: center;
    justify-items: end;
    background: linear-gradient(to right, red, black);
    border-radius: 10px;
    padding: 10px;
    
}
.chat-app-input-item{
    padding: 10px;
    border-radius: 10px;
    border-style:none ;
    width:60%;
    font-family: roboto;
    font-size: large;
}
.chat-app-button-item{
    border-radius: 10px;
    padding: 10px;
    border-style: none;
    font-family: roboto;
    font-size: large;
    margin-left: 10px;
}
.chat-container-dom{

}
.chat-item{
    
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
    margin: 19px;
    padding: 10px;
    font-family: roboto;
    font-size: x-large;
}